/*
 * FilePond Custom Styles
 */

.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  background-color: (0, 0, 0, 0.05);
}


/**
 * Page Styles
 */


.filepond--root {
  margin-bottom: 0;
}