<script setup lang="ts">
import AuthService from '@/shared/api/services/AuthService/AuthService.ts'

const logout = () => {
  AuthService.logout()
  window.location.replace('/sign-in')
}
</script>

<template>
  <q-btn outline color="white" icon="directions" @click="logout" />
</template>

<style scoped lang="scss"></style>
