<script setup lang="ts">
import type { Avatar } from '@/shared/types/models/responses/profile/ProfileResponse.ts'

defineProps<{
  avatar: Avatar | null
  firstname: string
}>()
</script>
<template>
  <div class="flex justify-center">
    <q-skeleton v-if="!firstname" type="circle" size="180px" />
    <div v-if="firstname">
      <q-avatar v-if="avatar" size="180px">
        <img
          alt="avatar"
          class="border-dotted border-2 border-cyan-800 object-cover"
          :src="avatar.url"
        />
      </q-avatar>
      <q-avatar v-else size="180px" color="cyan-800" text-color="white">{{
        firstname[0]?.toUpperCase()
      }}</q-avatar>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
