<script setup lang="ts">
import { reactive, ref } from 'vue'
import { validate } from '@/shared/validate/vallidate.ts'
import { LoadingButton } from '@/shared/ui/buttons'
import { TitleWithBorder } from '@/shared/ui/titles'
import vueFilePond from 'vue-filepond'
import { FirstnameInput, LastnameInput, AboutMeInput } from '@/shared/ui/inputs'
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
import FilePondPluginImageCrop from 'filepond-plugin-image-crop'
import type { FilePond } from 'filepond'
import type { StoreRequest } from '@/shared/types/models/requests/profile/StoreRequest'
import { ProfileService } from '@/shared/api/services'
import { useRouter } from 'vue-router'
import { RouteNamesEnum } from '@/shared/types/enums/router.types.ts'
import AuthService from '../../../shared/api/services/AuthService/AuthService.ts'
import { ServerErrorBanner } from '@/shared/ui/banners'

const router = useRouter()
const FilePondComponent = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview,
  FilePondPluginImageCrop
)
const error = ref<string | boolean>(false)
const pond = ref<FilePond | null>(null)
const spinner = ref(false)
const profileStoreData = reactive<StoreRequest>({
  firstname: '',
  lastname: '',
  date_of_birth: '',
  about_me: '',
  role_id: 1
})

const profileStore = async () => {
  spinner.value = true

  await ProfileService.store({
    data: profileStoreData,
    images: pond.value?.getFiles() || []
  })
    .then(() => {
      router.push({
        name: RouteNamesEnum.profile,
        params: { id: AuthService.getAccessTokenDecode().sub }
      })
    })
    .catch(({ response }) => {
      error.value = response.data.message
    })
    .finally(() => {
      spinner.value = false
    })
}
</script>

<template>
  <div style="max-width: 800px" class="mx-auto px-5 pt-7 pb-10 rounded-lg bg-white">
    <TitleWithBorder class="text-center">{{ $t('creatingProfile') }}</TitleWithBorder>
    <q-form @submit="profileStore">
      <div class="w-full justify-center flex sm:flex-nowrap mt-6 gap-y-6 gap-x-6">
        <FilePondComponent
          ref="pond"
          class="store-profile-filepond"
          name="image"
          :label-idle="
            $t('dragYourAvatarHereOr') +
            ' ' +
            '<span class=\'filepond--label-action\'>' +
            $t('selectAfile') +
            '</span>'
          "
          accepted-file-types="image/jpeg, image/png, image/jpg, image/webp"
          style-panel-layout="compact circle"
          style-load-indicator-position="center bottom"
          style-progress-indicator-position="right bottom"
          style-button-remove-item-position="left bottom"
          style-button-process-item-position="right bottom"
          image-crop-aspect-ratio="1:1"
        />
        <div class="flex gap-x-6 sm:flex-nowrap w-full">
          <div style="" class="w-full">
            <FirstnameInput v-model="profileStoreData.firstname" />
            <LastnameInput v-model="profileStoreData.lastname" class="mt-3" />
            <q-input
              v-model="profileStoreData.date_of_birth"
              class="mt-3"
              filled
              color="black"
              outlined
              :label="$t('dateOfBirth')"
              mask="date"
              :rules="validate.date"
            >
              <template #append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                    <q-date v-model="profileStoreData.date_of_birth" color="black">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Закрыть" color="black" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="w-full">
            <AboutMeInput v-model="profileStoreData.about_me" class="mt-3 sm:mt-0" />
          </div>
        </div>
      </div>
      <LoadingButton
        color="black"
        type="submit"
        class="full-width h-14 mt-5"
        :label="$t('createProfile')"
        :spinner="spinner"
      />
      <ServerErrorBanner :error="error" />
    </q-form>
  </div>
</template>

<style scoped lang="scss">
.store-profile-filepond {
  width: 230px;
  margin: 0 auto;
}
</style>
