<script setup lang="ts">
defineProps({
  label: {
    required: true,
    type: String
  },
  src: {
    required: true,
    type: String
  }
})
</script>

<template>
  <q-card class="my-card hover:cursor-pointer">
    <q-img class="max-h-48" height="100%" :src="src">
      <div class="absolute-bottom text-subtitle2 text-center">
        {{ label }}
      </div>
    </q-img>
  </q-card>
</template>

<style scoped lang="scss"></style>
