<script setup lang="ts">
import { useRouter } from 'vue-router'
import { AuthService } from '@/shared/api/services'

defineProps({
  description: {
    type: String,
    required: true
  }
})
const router = useRouter()
</script>

<template>
  <q-banner dense rounded inline-actions class="py-4 text-white text-center bg-red">
    <h1 class="text-2xl">{{ description }}</h1>
    <q-btn
      outline
      class="mt-4"
      style="color: white"
      :label="$t('banners.toProfilePage')"
      @click="router.push({ path: `/profile/${AuthService.getAccessTokenDecode().sub}` })"
    />
  </q-banner>
</template>

<style scoped lang="scss"></style>
