<script setup lang="ts">
defineProps({
  spinner: {
    type: Boolean,
    required: true
  }
})
</script>

<template>
  <q-btn color="black" flat :label="spinner ? '' : $t('create')" :disable="spinner">
    <q-spinner-facebook v-if="spinner" color="black" size="1.4em" />
  </q-btn>
</template>

<style scoped lang="scss"></style>
