<script setup lang="ts">
import { validate } from '@/shared/validate/vallidate.ts'
</script>

<template>
  <q-input filled color="black" outlined :label="$t('username')" :rules="validate.required" />
</template>

<style scoped lang="scss"></style>
