<script setup lang="ts">
import { useFilePond } from '@/features/Profile/UpdateProfile/FilePondInstance.ts'

const { FilePondComponent, pond } = useFilePond()
</script>

<template>
  <FilePondComponent
    ref="pond"
    class="file-pond-update-avatar"
    name="image"
    :label-idle="
      $t('dragYourAvatarHereOr') +
      ' ' +
      '<span class=\'filepond--label-action\'>' +
      $t('selectAfile') +
      '</span>'
    "
    accepted-file-types="image/jpeg, image/png, image/jpg, image/webp"
    style-panel-layout="compact circle"
    style-load-indicator-position="center bottom"
    style-progress-indicator-position="right bottom"
    style-button-remove-item-position="left bottom"
    style-button-process-item-position="right bottom"
    image-crop-aspect-ratio="1:1"
  />
</template>

<style scoped lang="scss">
.file-pond-update-avatar {
  width: 180px;
  margin: 0 auto;
}
</style>
