<script setup lang="ts">
import { CancelButton, SaveButton } from '@/shared/ui/buttons'
import { useProfileStore } from '@/entities/Profile/store/profile'
import { reactive, ref } from 'vue'
import type { StoreRequest } from '@/shared/types/models/requests/profile/StoreRequest.ts'
import { validate } from '@/shared/validate/vallidate.ts'
import { ProfileService } from '@/shared/api/services'
import { ServerErrorBanner } from '@/shared/ui/banners'
import { useFilePond } from '@/features/Profile/UpdateProfile/FilePondInstance.ts'

const spinner = ref(false)
const profileStore = useProfileStore()
const error = ref<string | boolean>(false)
const emit = defineEmits(['cancel'])
const updateProfileData = reactive<StoreRequest>({
  about_me: profileStore.about_me,
  email: profileStore.user.email as string,
  date_of_birth: profileStore.date_of_birth,
  firstname: profileStore.firstname,
  lastname: profileStore.lastname
})

const { pond } = useFilePond()
const profileUpdate = async () => {
  spinner.value = true

  const images = pond.value?.getFiles() || []

  images.length ? await ProfileService.uploadAvatar({ images: [images[0]] }) : null

  await ProfileService.update({ data: updateProfileData, userId: profileStore.user.id })
    .then(({ data }) => {
      profileStore.$patch(data)
      error.value = false
      emit('cancel')
    })
    .catch(({ response }) => {
      error.value = response.data.message
    })
    .finally(() => {
      spinner.value = false
    })
}
</script>

<template>
  <div class="relative">
    <q-form class="flex gap-x-4 flex-nowrap" @submit="profileUpdate">
      <div class="grow">
        <q-input
          v-model="updateProfileData.firstname"
          :placeholder="$t('firstname')"
          :rules="validate.firstname"
        />
        <q-input
          v-model="updateProfileData.lastname"
          :placeholder="$t('lastname')"
          :rules="validate.lastname"
        />
        <q-input
          v-model="updateProfileData.email"
          :placeholder="$t('email')"
          :rules="validate.required"
        />

        <q-input
          v-model="updateProfileData.date_of_birth"
          :placeholder="$t('dateOfBirth')"
          mask="date"
          :rules="validate.date"
        >
          <template #append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                <q-date v-model="updateProfileData.date_of_birth" color="black">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Закрыть" color="black" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input v-model="updateProfileData.about_me" autogrow :placeholder="$t('aboutMe')" />
        <ServerErrorBanner :error="error" />
      </div>

      <div class="vertical-divider"></div>

      <div class="w-fit flex flex-col gap-y-2">
        <CancelButton @click="emit('cancel')" />
        <SaveButton :loading="spinner" type="submit" />
      </div>
    </q-form>
  </div>
</template>

<style scoped lang="scss">
.vertical-divider {
  width: 1px;
  background: #dce1e6;
}
</style>
