<script setup lang="ts">
import { TheProfile } from '@/entities/Profile'
import { useRoute } from 'vue-router'
import { useProfileStore } from '@/entities/Profile/store/profile'
import { ProfileService } from '@/shared/api/services'
import { NotFoundBanner } from '@/shared/ui/banners'
import { ref } from 'vue'
import { UpdateAvatar, UpdateProfile } from '@/features/Profile/UpdateProfile'
import { ProfileRightBoard } from '@/entities/Profile'
import { EditButton } from '@/shared/ui/buttons'
import { useCanUpdateProfile } from '@/entities/Profile/composables/useCanUpdateProfile.ts'
import ProfileLeftBoard from '@/entities/Profile/ui/ProfileLeftBoard.vue'
import TheAvatar from '@/shared/ui/pictures/TheAvatar.vue'
import VerifyEmail from '@/features/VerifyEmail/VerifyEmail.vue'

const route = useRoute()
const profileStore = useProfileStore()
const isUpdateActive = ref(false)
const error = ref(false)

ProfileService.show(Number(route.params.id))
  .then(({ data }) => profileStore.$patch(Object(data)))
  .catch(() => {
    error.value = true
  })

const { canUpdateProfile } = useCanUpdateProfile()
</script>

<template>
  <div>
    <VerifyEmail class="mb-4" :user="profileStore.user" />
    <NotFoundBanner v-if="error" :description="$t('banners.profileNotFound')" />
    <div v-if="!error" class="bg-white truncate rounded-lg">
      <TheProfile :profile="profileStore">
        <template #left-board>
          <ProfileLeftBoard :profile="profileStore">
            <template #avatar>
              <UpdateAvatar v-if="isUpdateActive" />
              <TheAvatar v-else :firstname="profileStore.firstname" :avatar="profileStore.avatar" />
            </template>
          </ProfileLeftBoard>
        </template>
        <template #right-board>
          <UpdateProfile v-if="isUpdateActive" @cancel="isUpdateActive = false" />
          <ProfileRightBoard v-else :profile="profileStore">
            <template #edit-btn>
              <EditButton v-if="canUpdateProfile" @click="isUpdateActive = true" />
            </template>
          </ProfileRightBoard>
        </template>
      </TheProfile>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
