<template>
  <div class="mx-auto text-pretty flex flex-col sm:flex-row">
    <slot name="left-board" />
    <div class="divider" />

    <div class="pt-4 flex-1 min-h-72 px-4 pb-6 lg:pt-7 lg:pb-10">
      <slot name="right-board" />
    </div>
  </div>
</template>

<style scoped lang="scss">
.divider {
  background: rgb(214 218 227);
  width: 2px;
}
.label {
  color: #626d7a;
}
</style>
