<script setup lang="ts">
import { reactive, ref } from 'vue'
import type { CardRequest } from '@/shared/types/models/requests/card/CardRequest.ts'
import CardService from '@/shared/api/services/CardService/CardService.ts'
import { ServerErrorBanner } from '@/shared/ui/banners'
import LoadingButton from '@/features/Card/CardStore/ui/LoadingButton.vue'

const isCreating = ref(false)
const error = ref<string | boolean>(false)
const spinner = ref(false)
const cardStoreData = reactive<CardRequest>({
  term: '',
  translate: '',
  status_id: 2
})

const emit = defineEmits(['updateData'])

const submit = () => {
  spinner.value = true
  CardService.store({
    data: cardStoreData
  })
    .then((response) => {
      isCreating.value = false
      emit('updateData', { item: response.data })
      cardStoreData.term = ''
      cardStoreData.translate = ''
    })
    .catch(({ response }) => {
      error.value = response.data.message
    })
    .finally(() => {
      spinner.value = false
    })
}
</script>

<template>
  <div>
    <q-dialog v-model="isCreating" transition-show="scale" transition-hide="scale">
      <q-card class="bg-black text-white" style="max-width: 500px; width: 100%">
        <q-card-section>
          <div class="text-h6">{{ $t('features.cards.createCard') }}</div>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <div class="px-2 w-full">
            <q-form>
              <q-input
                v-model="cardStoreData.term"
                class="w-full"
                :placeholder="$t('features.cards.term')"
              />
              <q-input
                v-model="cardStoreData.translate"
                class="w-full"
                :placeholder="$t('features.cards.translate')"
              />
            </q-form>
            <div class="flex mt-5 w-full justify-between">
              <q-btn v-close-popup style="color: #dc2626" flat :label="$t('cancel')" />
              <LoadingButton :spinner="spinner" @click="submit" />
            </div>
          </div>
          <ServerErrorBanner class="w-full" :error="error" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-btn class="block m-auto" round color="black" icon="add" @click="isCreating = true" />
  </div>
</template>

<style scoped lang="scss"></style>
