<script setup lang="ts">
import type { CardListResponse } from '@/shared/types/models/responses/card/CardResponse.ts'
import { TheCard } from '@/entities/Card'

defineProps<{
  cardList: CardListResponse
}>()
</script>

<template>
  <div>
    <ul class="grid grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 gap-3">
      <TheCard
        v-for="card in cardList.data"
        :key="card.id"
        class="hover:cursor-pointer"
        src="https://cdn.quasar.dev/img/parallax2.jpg"
        :term="card.term"
        :translate="card.translate"
      />
    </ul>
  </div>
</template>

<style scoped lang="scss"></style>
