<script setup lang="ts">
defineProps({
  term: {
    required: true,
    type: String
  },
  translate: {
    required: true,
    type: String
  },
  src: {
    required: true,
    type: String
  }
})
</script>

<template>
  <q-card class="my-card text-pretty">
    <q-img class="max-h-48" height="160px" :src="src">
      <div class="text-subtitle2 truncate absolute-top text-center">
        {{ term }}
      </div>
      <div class="absolute-bottom truncate text-subtitle2 text-center">
        {{ translate }}
      </div>
    </q-img>
  </q-card>
</template>

<style scoped lang="scss"></style>
