<script setup lang="ts">
import { LocaleSwitcher } from '@/features/LocaleSwitcher'
import { TheLogout } from '@/features/TheLogout'
import { useAuthorizeService } from '@/shared/api/services/AuthorizeAppService/AuthorizeAppService.ts'
import { AccessAppScopesEnum } from '@/shared/types/enums/authorize.types.ts'
import { useRouter } from 'vue-router'
import { RouteNamesEnum } from '@/shared/types/enums/router.types.ts'

const { checkHasScope } = useAuthorizeService()

const router = useRouter()
</script>

<template>
  <q-header elevated class="bg-black text-white">
    <q-toolbar>
      <q-toolbar-title class="w-max">
        <div
          class="w-max py-1 hover:cursor-pointer"
          @click="
            router.push({
              name: RouteNamesEnum.home
            })
          "
        >
          {{ $t('app.name') }}
        </div>
      </q-toolbar-title>
      <div class="flex gap-x-2.5 py-4">
        <LocaleSwitcher />
        <TheLogout v-if="checkHasScope([AccessAppScopesEnum.IS_AUTHENTICATED])" />
      </div>
    </q-toolbar>
  </q-header>
</template>
