<script setup lang="ts">
import { useRouter } from 'vue-router'
import { RouteNamesEnum } from '@/shared/types/enums/router.types.ts'
import MenuItem from '@/widgets/HomeDashBoard/ui/MenuItem.vue'
import { BoardWrapper } from '@/shared/ui/wrappers'

const router = useRouter()
</script>

<template>
  <BoardWrapper>
    <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <MenuItem
        src="/cards.jpg"
        :label="$t('features.cards.cards')"
        @click="router.push({ name: RouteNamesEnum.cards })"
      />

      <MenuItem
        src="/sets.jpg"
        :label="$t('features.cards.sets')"
        @click="router.push({ name: RouteNamesEnum.sets })"
      />
    </div>
  </BoardWrapper>
</template>

<style scoped lang="scss"></style>
