<script setup lang="ts">
import TheAvatar from '@/shared/ui/pictures/TheAvatar.vue'
import type { ProfileResponse } from '@/shared/types/models/responses/profile'

defineProps<{
  profile: ProfileResponse
}>()
</script>

<template>
  <div
    style="background: #f5f8ff"
    class="flex-1 px-4 pt-4 pb-6 lg:pt-7 lg:pb-10 flex gap-y-4 sm:gap-y-5 flex-col"
  >
    <slot name="avatar" />

    <h1 v-if="profile.firstname" class="text-xl text-center leading-6">
      @{{ profile.user.username }}
    </h1>
    <q-skeleton v-if="!profile.firstname" width="100%" height="24px" />
  </div>
</template>

<style scoped lang="scss"></style>
