<script setup lang="ts">
import type { ProfileResponse } from '@/shared/types/models/responses/profile'
import { AttributeWithIcon, AttributeWrapper } from '@/shared/ui/wrappers'

defineProps<{
  profile: ProfileResponse
}>()
</script>

<template>
  <div class="flex relative flex-col gap-y-3">
    <div v-if="profile.firstname" class="flex justify-between">
      <div class="flex flex-col gap-y-3">
        <AttributeWrapper :attribute="profile.firstname" :label="$t('firstname')" />
        <AttributeWrapper :attribute="profile.lastname" :label="$t('lastname')" />
      </div>
      <div class="w-fit absolute right-0"><slot name="edit-btn" /></div>
    </div>

    <q-skeleton v-if="!profile.firstname" width="180px" height="54px" />

    <div class="horizontal-divider mt-1 mb-1"></div>

    <q-skeleton v-if="!profile.firstname" width="100%" height="90px" />

    <div v-if="profile.firstname" class="flex flex-col gap-y-3">
      <AttributeWithIcon :label="$t('dateOfBirth')" :attribute="profile.date_of_birth">
        <template #icon>
          <q-icon color="cyan-8" size="22px" name="cake" />
        </template>
      </AttributeWithIcon>

      <AttributeWithIcon
        :label="$t('account')"
        :attribute="profile.role.replace(/^./, profile.role[0].toUpperCase())"
      >
        <template #icon>
          <q-icon color="cyan-8" size="22px" name="account_circle" />
        </template>
      </AttributeWithIcon>

      <AttributeWithIcon
        v-if="profile.user.email"
        :label="$t('email')"
        :attribute="profile.user.email as string"
      >
        <template #icon>
          <q-icon color="cyan-8" size="22px" name="email" />
        </template>
      </AttributeWithIcon>

      <AttributeWithIcon
        v-if="profile.about_me"
        :label="$t('aboutMe')"
        :attribute="profile.about_me"
      >
        <template #icon>
          <q-icon color="cyan-8" size="22px" name="description" />
        </template>
      </AttributeWithIcon>
    </div>
  </div>
</template>

<style scoped lang="scss">
.horizontal-divider {
  height: 1px;
  background: #dce1e6;
}
</style>
