<script setup lang="ts">
import type { PropType } from 'vue'

defineProps({
  label: {
    type: String,
    required: true
  },
  attribute: {
    type: String as PropType<string | null>,
    required: true
  }
})
</script>

<template>
  <div v-if="attribute" class="flex flex-col md:flex-row">
    <div class="flex gap-x-1 w-44">
      <slot name="icon" />
      <div class="label">{{ label }}:</div>
    </div>
    <div class="break-all">
      {{ attribute }}
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
