<script setup lang="ts">
import type { PropType } from 'vue'

defineProps({
  label: {
    type: String,
    required: true
  },
  attribute: {
    type: String as PropType<string | null>,
    required: true
  }
})
</script>

<template>
  <div v-if="attribute" class="flex gap-x-1 flex-col md:flex-row">
    <div class="label w-28">{{ label }}:</div>
    <div>{{ attribute }}</div>
  </div>
</template>

<style scoped lang="scss"></style>
