<script setup lang="ts">
import { NotFoundBanner } from '@/shared/ui/banners'
</script>

<template>
  <NotFoundBanner :description="$t('banners.pageNotFound')" />
</template>

<style scoped lang="scss"></style>
