<script setup lang="ts">
import type { User } from '@/shared/types/models/responses/profile'
import { ref } from 'vue'
import { AuthService } from '@/shared/api/services'

const spinner = ref(false)
defineProps<{
  user: User
}>()

const isSended = ref(false)

const send = async () => {
  spinner.value = true
  await AuthService.verifyEmail()
  isSended.value = true
  spinner.value = false
}
</script>

<template>
  <q-banner
    v-if="user.id && !user.email_verified_at"
    rounded
    inline-actions
    class="text-white bg-red"
  >
    <div class="flex flex-col items-center gap-y-2 md:gap-y-0 md:flex-row md:justify-between">
      <p>
        {{ isSended ? $t('checkYourMailForConfirmation') : $t('pleaseVerifyEmail') }}
      </p>

      <q-btn
        class="w-56"
        :loading="spinner"
        flat
        color="white"
        :label="isSended ? $t('resend') : $t('sendLetter')"
        @click="send"
      />
    </div>
  </q-banner>
</template>

<style scoped lang="scss"></style>
