<script setup lang="ts">
import { BoardWrapper } from '@/shared/ui/wrappers'
import { CardStore } from '@/features/Card/CardStore'
import { CardList } from '@/entities/Card'
import { ref } from 'vue'
import type {
  CardListResponse,
  CardResponse
} from '@/shared/types/models/responses/card/CardResponse.ts'
import CardService from '@/shared/api/services/CardService/CardService.ts'

const cardList = ref<CardListResponse>()

CardService.index().then((response) => (cardList.value = response.data))

const addItem = ({ item }: { item: CardResponse }) => {
  cardList.value?.data.push(item)
}
</script>

<template>
  <BoardWrapper>
    <CardStore class="mb-4" @update-data="addItem" />
    <q-skeleton v-if="!cardList" width="100%" height="160px" />
    <CardList v-if="cardList" :card-list="cardList" />
  </BoardWrapper>
</template>

<style scoped lang="scss"></style>
